body {
    margin: 0;
    height: 100vh;
}

.container {
        display: flex;
        align-items: center; 
        justify-content: center; 
        gap: 20px; 
        background-color: aqua;
}

.container img{
        width: 100px; 
        height: 100px; 
        border-radius: 50%; 
        padding: 1rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #030000;
    color: white;
    padding: 10px 10rem;
}

.navbar a {
    color: white;
    text-decoration: none;
}
